doctype html
html(lang=langName)
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="NeoChess jeu d'échecs")
        title  #{translate.title}

        block script 
        block styles
        link(rel="stylesheet" href=h.asset("reset.css"))
    body 
        block body 