body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
  height: 600px;
  background-color: rgb(37, 99, 138);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#logo {
  width: 150px;
  height: 150px;
}

.wrapper {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

p {
  max-width: 80%;
}

input,
button {
  border: none;
  outline: 0px none transparent;
  padding: 0.6em;
}
