body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
